// 轮播banner
section.banner
    div.banner-image
        div.banner-imageBox#banner-imageBox
    ul.banner-clickBox#banner-clickBox
    script.
        window._BANNER_ = [
            {
                href: "#",
                image: "../img/_banner/b1.jpg"
            },
            {
                href: "#",
                image: "../img/_banner/b2.jpg"
            },
            {
                href: "#",
                image: "../img/_banner/b3.jpg"
            },
            {
                href: "#",
                image: "../img/_banner/b4.jpg"
            }];

