// 导航栏
section.navigation
    div.navigation-box.clearfix
        div.navigation-logo
            img(src='../img/logo.png')
        nav.navigation-nav.clearfix
            a(href='index.html') 首页
            a(href='goods.html') 产品
            a(href='goods.html') 案例
            a(href='newsList.html') 展会
            a(href='recruit.html') 招聘
            a(href='cooperative.html') 合作伙伴
            a(href='contact.html') 联系我们
        input.navigation-seachBtn#seachBox-open(type='button')
        form.navigation-seachBox#seachBox
            input.navigation-seachInput(type='text' placeholder='请输入关键字')
            i.navigation-close#seachBox-close

