// 分页
section.pagination
    a(href='#') &lt;&lt;上一页
    a.pagination-l(href='#') |&lt;
    a.pagination-thisPage(href='#') [1]
    a(href='#') [2]
    a(href='#') [3]
    a(href='#') [4]
    a(href='#') [5]
    a.pagination-l(href='#') &gt;|
    a(href='#') 下一页&gt;&gt;
