// 图片列表
section.picGoodsList.clearfix
    a(href='goodsDetail.html')
        img(src='../img/_goods/g1.jpg')
        div
            article
                h4 仿真资源生产
                p
                    |教学资源定制开发
                    br
                    |专业学科系列产品
    a(href='goodsDetail.html')
        img(src='../img/_goods/g2.jpg')
        div
            article
                h4 虚拟现实
                p
                    |VR培训
                    br
                    |VR展厅
                    br
                    |VR社交产品
                    br
                    |VR直播解决方案
    a(href='goodsDetail.html')
        img(src='../img/_goods/g3.jpg')
        div
            article
                h4 VR&AR
                p
                    | 虚拟现实与增强现实技术
    a(href='goodsDetail.html')
        img(src='../img/_goods/g4.jpg')
        div
            article
                h4 物联网
                p
                    |智慧校园平台
                    br
                    |制造业平台
                    br
                    |物联网大数据后台产品
    a(href='goodsDetail.html')
        img(src='../img/_goods/g5.jpg')
        div
            article
                h4 智慧城市
                p
                    |智慧城市
                    br
                    |智慧社区
                    br
                    |智能家庭
