doctype html
html
    head
        include ./_modules/_head.jade
        title 公司简介
        script(src='../app/app.about.js')
    body
        include ./_modules/_topLogo.jade
        include ./_modules/_banner.jade
        include ./_modules/_navigation.jade
        div.common
            article.goodsDetail
                h2.hTitle.hTitle-center
                    a(href='about.html') 公司简介
                    span ABOUT US
                p 沈阳埃森瑞尔科技有限公司，以下简称"埃森瑞尔"。是集IT咨询、软件应用及平台开发、软硬件及网络系统集成、产品生产及销售为一体的高科技新兴企业。公司具有雄厚的技术研发实力，建立了完善的管理与服务体制，本着"创新为本，服务至上"的宗旨，竭诚为广大客户提供高质量的售前和售后的服务。
                p 埃森瑞尔开辟信息创新之路，以信息技术发展为导向，组成一支高效率、高科技的信息化实施团队，将多年积累的企业运营管理、计算机系统集成、大型软件开发的技术经验集合起来，形成针对性强、可用性高的企业信息化解决方案及产品，为政府、行业、中、小企业等客户提供"端到端"的信息化解决方案和完善的售后服务保障。
                img(src='../img/guanggao2.jpg')
                p 沈阳埃森瑞尔科技有限公司，以下简称"埃森瑞尔"。是集IT咨询、软件应用及平台开发、软硬件及网络系统集成、产品生产及销售为一体的高科技新兴企业。公司具有雄厚的技术研发实力，建立了完善的管理与服务体制，本着"创新为本，服务至上"的宗旨，竭诚为广大客户提供高质量的售前和售后的服务。
                p 埃森瑞尔开辟信息创新之路，以信息技术发展为导向，组成一支高效率、高科技的信息化实施团队，将多年积累的企业运营管理、计算机系统集成、大型软件开发的技术经验集合起来，形成针对性强、可用性高的企业信息化解决方案及产品，为政府、行业、中、小企业等客户提供"端到端"的信息化解决方案和完善的售后服务保障。
        include ./_modules/_footer.jade