doctype html
html
    head
        include ./_modules/_head.jade
        title 联系我们
        script(src='../app/app.contact.js')
    body
        include ./_modules/_topLogo.jade
        include ./_modules/_banner.jade
        include ./_modules/_navigation.jade
        div.common.contact-c.clearfix
            img.china-map(src='../img/china-map1_03.png')
            div.addressbox
                h4 沈阳
                address 电话：18604024605
                address 邮箱：yuant@xreal.ltd
                address 地址：沈阳市浑南新区金辉街1号德宝大厦18F
                address 邮编：110000
        include ./_modules/_footer.jade