doctype html
html
    head
        include ./_modules/_head.jade
        title 合作伙伴
        script(src='../app/app.cooperative.js')
    body
        include ./_modules/_topLogo.jade
        include ./_modules/_banner.jade
        include ./_modules/_navigation.jade
        div.common
            ul.friendsList.clearfix
                li
                    img(src='../img/_friends/school-1.png')
                    article
                        a(href='#') 东北大学
                        p 东北大学(Northeastern University)，简称东大(NEU)，中华人民共和国教育部直属的理工类研究型大学，坐落于东北中心城市沈阳，是国务院首批批准的具有博士学位授予权的高校，是首批建立研究生院的32所高校、研究生招生34所自主划线高校之一。
                li
                    img(src='../img/_friends/school-2.png')
                    article
                        a(href='#') 沈阳师范大学
                        p 沈阳师范大学(Shenyang Normal University)隶属于辽宁省人民政府，是一所涵盖哲学、经济学、法学、教育学、文学、理学、工学、管理学，艺术学等九大门类的多科性省属重点大学。学校是教育部首批“卓越法律人才教育培养计划”高校。
                li
                    img(src='../img/_friends/school-3.png')
                    article
                        a(href='#') 沈阳化工大学
                        p 沈阳化工大学(Shenyang University of Chemical Technology)位于国家级沈阳经济技术开发区，是一所以工为主，以化工为特色，工学、理学、管理学、经济学、文学、法学、教育学、医学、艺术学等学科相结合的多科性大学。
                li
                    img(src='../img/_friends/school-4.png')
                    article
                        a(href='#') 济宁学院
                        p 沈阳化工大学(Shenyang University of Chemical Technology)位于国家级沈阳经济技术开发区，是一所以工为主，以化工为特色，工学、理学、管理学、经济学、文学、法学、教育学、医学、艺术学等学科相结合的多科性大学。
                li
                    img(src='../img/_friends/school-5.png')
                    article
                        a(href='#') 沈阳工业大学
                        p 沈阳工业大学是一所以工为主，涵盖工、理、经、管、文、法、哲、艺术等八大学科门类的多科性教学研究型大学。学校始建于1949年，1985年由沈阳机电学院更名为沈阳工业大学。
                li
                    img(src='../img/_friends/school-6.png')
                    article
                        a(href='#') 沈阳经济大学
                        p 沈阳经济大学(Shenyang University of Chemical Technology)位于国家级沈阳经济技术开发区，是一所以工为主，以化工为特色，工学、理学、管理学、经济学、文学、法学、教育学、医学、艺术学等学科相结合的多科性大学。
            include ./_modules/_pagination.jade
        include ./_modules/_footer.jade