doctype html
html
    head
        include ./_modules/_head.jade
        title 产品详情
        script(src='../app/app.goodsDetail.js')
    body
        include ./_modules/_navigation.jade
        div.imageTitle
            img(src='../img/_banner/tj.jpg')
            div.imageTitle-t
                article
                    h4 未来教育
                    p VR&AR将支撑未来教育产业
        div.common
            article.goodsDetail
                p 随着VR&AR技术的发展，已被应用于各行各业，在教育领域所带来的影响亦是不容小觑。教育的变革都是由科技推动的。VR虚拟现实技术具有的诸多特征，为学生学习的感知、体验、互动营造了无限可能的沉浸感，借助于虚拟现实能有效帮助学生加深知识印象，深刻理解文理学科各类知识。VR与教育的结合，将成为未来教育发展的新方向，定会在各种教育领域发挥强大的作用。
                h4 VR教育
                p VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。
                img(src='../img/_goods/1.jpg')
                h4 VR超级教室
                p VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。
                img(src='../img/_goods/2.jpg')
                h4 VR教育优势
                p VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。VR&AR技术可以广泛应用于各类学习场景之中，增加学习内容的形象性和趣味性，尤其是在模拟实验方面表现尤为显著。随着各类实验的应用，大大减少了现实世界中实验的困难和危险系数，同时降低了造价，节省经费。
        include ./_modules/_footer.jade