doctype html
html
    head
        include ./_modules/_head.jade
        title 新闻列表
        script(src='../app/app.newsList.js')
    body
        include ./_modules/_topLogo.jade
        include ./_modules/_banner.jade
        include ./_modules/_navigation.jade
        div.common
            nav.listNav.clearfix
                a(href='#') 仿真资源
                b ·
                a(href='#') 虚拟现实
                b ·
                a(href='#') 物联网
                b ·
                a(href='#') 所有产品
            ul.newsList.newsList-box
                li
                    time
                        b 20
                        span 2016.07
                    article
                        a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                        p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。
                li
                    time
                        b 20
                        span 2016.07
                    article
                        a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                        p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。
                li
                    time
                        b 20
                        span 2016.07
                    article
                        a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                        p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。
                li
                    time
                        b 20
                        span 2016.07
                    article
                        a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                        p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。
                li
                    time
                        b 20
                        span 2016.07
                    article
                        a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                        p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成。
            include ./_modules/_pagination.jade
        include ./_modules/_footer.jade