doctype html
html
    head
        include ./_modules/_head.jade
        title 艾森瑞尔
        script(src='../app/app.news.js')
    body
        include ./_modules/_topLogo.jade
        include ./_modules/_banner.jade
        include ./_modules/_navigation.jade
        div.common.clearfix
            nav.listNav.clearfix
                a(href='#') 公司动态
                b ·
                a(href='#') 展会信息
                b ·
                a(href='#') 行业资讯
                b ·
                a(href='#') 新闻资讯
            section.newsbox.clearfix
                div.newsbox-fl
                    h2.hTitle.newsbox-mb
                        a(href='#') 公司动态
                        span COMPANY NEWS
                    ul.newsList
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                    h2.hTitle.newsbox-mb.newsbox-mt
                        a(href='#') 行业资讯
                        span INSDUTRY NEWS
                    ul.newsList
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                div.newsbox-fl.newsbox-ml
                    h2.hTitle.newsbox-mb
                        a(href='#') 展会信息
                        span EXHIBITIONS
                    ul.newsList
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
                        li
                            time
                                b 20
                                span 2016.07
                            article
                                a(href='#') 沈阳埃森瑞尔科技有限公司开业仪式
                                p 2016年7月20日，沈阳埃森瑞尔科技有限公司开业仪式圆满完成
        include ./_modules/_footer.jade